<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration" version="10.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="10.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="10.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="10.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="10.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="10.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Ini" version="10.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Json" version="10.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="10.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="10.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyModel" version="10.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Diagnostics" version="10.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="10.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="10.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="10.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="10.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Hosting" version="10.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="10.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="10.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="10.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Console" version="10.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Debug" version="10.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.EventLog" version="10.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.EventSource" version="10.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="10.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="10.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net461" />
  <package id="Serilog" version="4.3.0" targetFramework="net461" />
  <package id="Serilog.Extensions.Hosting" version="9.0.0" targetFramework="net461" />
  <package id="Serilog.Extensions.Logging" version="9.0.2" targetFramework="net461" />
  <package id="Serilog.Extensions.Logging.File" version="3.0.0" targetFramework="net461" />
  <package id="Serilog.Formatting.Compact" version="1.1.0" targetFramework="net461" />
  <package id="Serilog.Settings.Configuration" version="10.0.0" targetFramework="net461" />
  <package id="Serilog.Sinks.Async" version="1.5.0" targetFramework="net461" />
  <package id="Serilog.Sinks.Console" version="6.0.0" targetFramework="net461" />
  <package id="Serilog.Sinks.File" version="7.0.0" targetFramework="net461" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net461" />
  <package id="SqlSugar" version="5.1.4.205" targetFramework="net461" />
  <package id="SqlSugar.Access" version="5.1.4.199" targetFramework="net461" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.0" targetFramework="net461" />
  <package id="System.Diagnostics.EventLog" version="10.0.0" targetFramework="net461" />
  <package id="System.IO.Pipelines" version="10.0.0" targetFramework="net461" />
  <package id="System.Memory" version="4.6.3" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="10.0.0" targetFramework="net461" />
  <package id="System.Text.Json" version="10.0.0" targetFramework="net461" />
  <package id="System.Threading.Channels" version="8.0.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>